.fixed-top-2 {
    margin-top: 6vh;
    background-color: gray;
}

.dropdown-toggle::after{
    border: none;
    content: '\icon';
}

body {
    padding-top: 100px;
}

label {
    color:white;
}

.dropdown{
    height:6vh;
    background: rgb(75, 75, 182);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quickaccess, .profile{
    position: relative;
}

.quickaccess ul, .profile ul{
    position: absolute;
    align-items: center;
    background: rgb(65, 64, 64);
    margin-top: 10px;
    width: 150px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
    border-radius: 5px;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.quickaccess ul{
    height: 200px;
}

.profile ul{
    height: 150px;
}

.quickaccess li, .profile li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quickaccess li:hover, .profile li:hover{
    background-color: rgb(83, 219, 219);
}


.dropdown button{
    background: none;
    border: none;
    color: black;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.quickaccess a, .profile a{
    color:white;
    text-decoration: none;
}


.quickaccess a:focus + ul{
}